.snakemake/
*trimming_report.txt
*fastq.gz
*fq.gz
*zip
*.crdownload
*fasta
*.fasta.amb
*.fasta.ann
*.fasta.bwt
*.fasta.fai
*.fasta.pac
*.fasta.sa
*.fa
*fa.amb
*fa.ann
*fa.bwt
*fa.fai
*fa.pac
*fa.sa
*bam
*bai
